/* Table Styles */
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

.page__title h3 {
    font-size: 28px;
    color: #333333;
    font-weight: 400;
    text-align: center;
    margin-top: 1.5rem;
}

/* search */

#board__search .search__window {
    padding: 15px 0;
    background-color: #f9f7f9;
}

#board__search .search__window .search__wrap {
    position: relative;
    margin: 0 auto;
    width: 80%;
    max-width: 564px;
}

#board__search .search__window .search__wrap input {
    height: 40px;
    width: 100%;
    font-size: 14px;
    padding: 7px 14px;
    border: 1px solid #ccc;
}

#board__search .search__window .search__wrap input:focus {
    border-color: #333;
    outline: 0;
    border-width: 1px;
}

#board__search .search__window .search__wrap .btn {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 108px;
    padding: 0;
    font-size: 16px;
}

/* 글쓰기 버튼 */
#board__search .search__window .write__wrap a {
    display: inline-block;
    padding: 5px 10px;
    background-color: #555;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    text-align: center;
    margin-left: 10px;
}

#board__search .search__window .write__wrap a:hover {
    background-color: #373737;
}


/* Specific Table Styles */
#board__list table {
    border-top: 2px solid var(--black);
    border-block-start: 2px solid var(--black);
    margin-bottom: 10px;
}

#board__list table th {
    background-color: var(--white300);
}

#board__list table th,
#board__list table td {
    border-bottom: 1px solid var(--black);
    padding: 15px 5px;
    text-align: center;
    cursor: pointer;
}

/* Button Styles */
.btn {
    display: inline-block;
    padding: 0 30px;
    font-size: 15px;
    font-weight: 400;
    background: transparent;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    text-transform: uppercase;
    border-radius: 0;
}

.search__btn {
    background: #555;
    color: #fff;
}

.search__btn:hover,
.search__btn:focus {
    background: #373737;
    border-color: #373737;
    color: #fff;
}

/* board write */
.board__write {}

.board__write label {
    width: 100%;
    font-size: 1.25rem;
    margin-bottom: 5px;
    display: block;
}

.board__write input {
    width: 100%;
    margin-bottom: 50px;
}

.board__write textarea {
    width: 100%;
    resize: none;
    line-height: 1.7;
}

.board__write .btn {
    text-align: right;
}

.board__write .btn button {
    border-radius: 5px;
}