.menuContent ul li a {
    border: 1px solid transparent;
    -webkit-transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
    transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
}

.menuContent ul li a::before {
    content: '';
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: -1;
    width: 0%;
    height: 1px;
    background: #6098FF;
    box-shadow: inset 0px 0px 0px #6098FF;
    display: block;
    -webkit-transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
    transition: all 0.4s cubic-bezier(.5, .24, 0, 1)
}

.menuContent ul li a:hover::before {
    width: 100%;
}

.menuContent ul li a::after {
    content: '';
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: -1;
    width: 0%;
    height: 1px;
    background: #6098FF;
    -webkit-transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
    transition: all 0.4s cubic-bezier(.5, .24, 0, 1)
}

.menuContent ul li a:hover::after {
    width: 100%;
}

.menuContent ul li a:hover {
    border-left: 1px solid #6098FF;
    border-right: 1px solid #6098FF;
}